<form nz-form [formGroup]="dateTimeForm" (ngSubmit)="submitForm()">
  <div class="input-container d-flex flex-row">
    <div class="date-container d-flex flex-column">
      <nz-form-item>
        <nz-form-label nzRequired>Date</nz-form-label>
        <nz-form-control>
          <nz-date-picker id="date-picker" (ngModelChange)="onChange($event)" [(ngModel)]="dateValue"
                          [nzDisabledDate]="disabledDate" formControlName="date">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="time-container d-flex flex-column">
      <nz-form-item>
        <nz-form-label nzRequired>Time</nz-form-label>
        <nz-form-control>
          <nz-time-picker id="time-picker" (ngModelChange)="onChange($event)" formControlName="time"
                          [(ngModel)]="timeValue">
          </nz-time-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="actions" style="text-align: right">
    <button nz-button nzType="default" nzShape="circle" (click)="onCancelClick()">
      <fa-icon [icon]="iconCancel"></fa-icon>
    </button>
    <button nz-button nzType="primary" nzShape="circle">
      <fa-icon [icon]="iconSubmit"></fa-icon>
    </button>
  </div>
</form>
