<ul class="list-group">
  <li
    *ngFor="let post of posts; trackBy: trackByPost"
    class="list-group-item flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ post.title }}</h5>
      <small>{{ post.date }}</small>
    </div>
    <p class="mt-2 mb-4 text-left">
      {{ post.description }}
    </p>
    <div
      class="d-flex justify-content-between align-items-center border-top pt-2"
    >
      <small>{{ post.author }}</small>
      <div>
        <a [routerLink]="['create', post.id]" class="btn btn-info btn-sm mr-2">
          Edit
        </a>
        <button class="btn btn-danger btn-sm" (click)="onClickDelete(post.id)">
          Delete
        </button>
      </div>
    </div>
  </li>
</ul>
