<div class="container d-none d-sm-block pt-12">
  <h1>Welcome, How Can We Help You Today</h1>
  <div class="d-flex flex-row justify-content-around pt-6">
    <a routerLink="/reservation/create" class="btn btn-primary btn-lg navigation-item">Reserve a spot</a>
    <a class="btn btn-primary btn-lg navigation-item">Check in my spot and pay later</a>
  </div>
</div>
<div class="container-fluid d-sm-none pt-10">
  <h2>Welcome</h2>
  <h2>How Can We Help You Today</h2>
  <div class="d-flex flex-column pt-6">
    <a routerLink="/reservation/create" class="btn btn-primary btn-block navigation-item">Reserve a spot</a>
    <a class="btn btn-primary btn-block navigation-item">Check in my spot and pay later</a>
  </div>
</div>
