<app-navbar>
  <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs mobile">
    <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
      <a ngbNavLink routerLink="." [fragment]="link.fragment">{{ link.title }}</a>
    </li>
  </ul>
  <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs desktop">
    <li [ngbNavItem]="link.fragment" *ngFor="let link of links">
      <a ngbNavLink routerLink="." [fragment]="link.fragment">{{ link.title }}-desktop</a>
    </li>
  </ul>
</app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
