@import '../assets/css/01-settings/variables';

.main-content {
  height: 88vh;
  color: $black;
  h3 {
    color: $black;
  }
}

a {
  &.bottom-nav-item {
    &.active {
      color: $active;
      &:hover {
        color: $active;
      }
    }
  }
}


