<app-navbar>
  <div class="mobile d-flex flex-row justify-content-between">
    <h2 class="branding">
      <branding></branding>
    </h2>
    <h5>
      <a routerLink="/logout">
        <fa-icon [icon]="faSignOut"></fa-icon>
      </a>
    </h5>
  </div>
  <div class="desktop d-flex flex-row justify-content-between">
    <h2 class="branding"><a routerLink="/"><branding></branding></a></h2>
    <h5 class="pt-2"><a routerLink="/reservation/index">Reservation</a></h5>
    <h5 class="pt-2"><a routerLink="/logout">Log Out</a></h5>
  </div>
</app-navbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<app-footer>
  <div class="mobile d-flex flex-row justify-content-around">
    <h4>
      <a routerLink="/reservation/index" routerLinkActive="active" class="bottom-nav-item" #rla="routerLinkActive"
         [routerLinkActiveOptions]="{exact:true}">
        <fa-icon [icon]="rla.isActive ? iconActiveHome : faHome"></fa-icon>
      </a>
    </h4>
    <h4>
      <a routerLink="/reservation/list" routerLinkActive="active" class="bottom-nav-item" #rlaList="routerLinkActive">
        <fa-icon [icon]="rlaList.isActive ? iconActiveReservation : iconReservation"></fa-icon>
      </a>
    </h4>
  </div>
  <div class="desktop">
    <h5>Copyright 2020 - Hung Truong</h5>
  </div>
</app-footer>
