<div class="create-form-container container">
  <div class="content-mobile">
    <h4 class="page-title">New Reservation</h4>
<!--    Generates the list of fields and input components-->
    <div class="d-flex flex-column section-container" *ngFor="let step of formSteps">
<!--      Generates labels-->
      <div class="d-flex flex-row justify-content-between">
        <h5 class="section-icon flex-grow-0" [ngClass]="getStatusTextClass(step)">
          <fa-icon [icon]="isValidStep(step) ? iconValid : iconInvalidValue"></fa-icon>
        </h5>
        <h5 class="section-title flex-grow-1" [ngClass]="getStatusTextClass(step)">
          {{step.title}}</h5>
      </div>
      <div class="flex-grow-1" *ngIf="!step.showEdit else editBlock">
<!--        Generates data show component-->
        <vehicle-show *ngIf="'vehicle' === step.field" [value]="step.value">
          <button nz-button nzType="primary" nzShape="circle" (click)="onEditButtonClick($event, step)"
                  *ngIf="!step.showEdit" class="add-new" nzSize="small">
            <fa-icon [icon]="iconAdd"></fa-icon>
          </button>
          <div class="actions vehicle-info">
            <button nz-button nzType="default" nzShape="circle" class="add-new" [disabled]="hasEditFieldActive"
                    (click)="onEditButtonClick($event, step)">
              <fa-icon [icon]="iconEdit"></fa-icon>
            </button>
            <button nz-button nzType="danger" nzShape="circle" class="add-new" (click)="deleteVehicleInfo()">
              <fa-icon [icon]="iconDelete"></fa-icon>
            </button>
          </div>
        </vehicle-show>
        <date-time-show *ngIf="['checkInDate', 'checkOutDate'].includes(step.field)">
          <button nz-button nzShape="circle" class="show-calendar" nzType="primary"
                  (click)="onEditButtonClick($event, step)"
                  [disabled]="!isPreviousStepValid(step.previousStep) || hasEditFieldActive">
            <fa-icon [icon]="iconCalendar"></fa-icon>
          </button>
        </date-time-show>
      </div>
<!--      Anchor directive for dynamic input component-->
      <ng-template #editBlock editField>
      </ng-template>
    </div>
    <div class="next-button">
      <button nzBlock nz-button nzType="primary" nzShape="round" disabled>Select a parking spot</button>
    </div>
  </div>
</div>
