@import '../../../../../assets/css/01-settings/variables';

.nav-container {
  color: $orange-500;
  background-color: $white;
  h6 {
    color: $orange-500;
  }
  .active {
    color: $active;
  }
}
